 <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

 <p>
   <strong><%= link_to 'DESTROY COMMENT', [comment.article, comment],
               method: :delete %>
   </strong>
 </p>
  <br>