<!DOCTYPE html>
<html>
  <head>
    <title>DrunkBlog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag   'all.min', 'style', 'bootstrap.min', 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
